* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: white;
}

header {
    
    text-align: center;
    border: 1 px solid black;
    background-color: #333544;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

p {
    border: 1px solid black;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    background-color: #443B33;
    color:white;
    width: 90%;
    height: 75px;
    clear: right;
    text-align: center;
}
.row {
    width: 100%;
}

@media (min-width: 992px) {
   .col-lg-4 {
        float: left;
    }
     .col-lg-4{
        width:33%;
    }
   
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6, .col-md-12 {
        float:left;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-12 {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .col-sm-12
}


.title {
    border: 1px solid black;
    float: right;
    position: relative;
    bottom: 10px;
    left: 10px;
    background-color: #5e2323;
    padding-left: 3px;
    padding-right: 3px;
}