#header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #23EEFF
    

}
* {
    
    box-sizing: border-box;
}

article {
    background-color: #00FFFF;
}
p {
    width: 50%;
    float: left;
    /*border: 1px solid black;*/
    padding: 10px; 
   
}



#pl1 {

}

#pl2 {

}